.RestaurantsPage__Container {
  width: 58%;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.LocationLine {
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}
